body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.footer_container {
    background-color: #28286e;
    color: white;
    padding: 45px 100px;
}

.footer_logo {
    width: 100%;
    height: auto;
}

.footer_logo img {
    width: 45%;
    padding-bottom: 8%;
}

.footer_logo p {
    font-size: 105%;
    font-weight: 600;
    padding-bottom: 1%;
}

.footer_open {
    width: 100%;
    height: auto;
}

.footer_open h4 {
    font-size: 107%;
    font-weight: 600;
    text-decoration: underline 1px;
}

.footer_open p {
    font-size: 105%;
    font-weight: 600;
}

.footer_links {
    display: flex;
    flex-direction: column;
    line-height: 260%;
}

.footer_links a {
    font-size: 107%;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.footer_address {
    width: 100%;
    height: auto;
}

.footer_address h4 {
    font-size: 107%;
    font-weight: 600;
    text-decoration: underline 1px;
}

.footer_address p {
    font-size: 105%;
    font-weight: 600;
    width: 80%;
    line-height: 200%;
}

.footer_address a {
    text-decoration: none;
    color: #fff;
}

.footer_container p {
    font-size: 105%;
    font-weight: 600;
}

@media (max-width: 991px) {
    .footer_container {
        padding: 4px 100px;
    }

    .footer_open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid #ddd;
    }

    .footer_logo {
        padding-bottom: 2%;
        border-bottom: 1px solid #ddd;
    }

    .footer_links {
        padding-top: 2%;
    }

    .footer_address {
        padding-top: 2%;
    }
}


@media (max-width: 767px) {
    .footer_container {
        padding: 4px 60px;
    }

    .footer_logo img {
        width: 30%;
        padding-bottom: 3%;
    }

    .footer_open {
        padding-top: 2%;
        border-bottom: 1px solid #ddd;
    }

    .footer_logo {
        padding-bottom: 1%;
        border-bottom: 1px solid #ddd;
    }

    .footer_links {
        padding-top: 1%;
        padding-bottom: 2%;
        border-bottom: 1px solid #ddd;
    }

    .footer_address {
        padding-top: 2%;
    }
}

@media (max-width: 500px) {
    .footer_container {
        padding: 4px 50px;
    }

    .footer_logo img {
        width: 40%;
    }

    .footer_open p {
        font-size: 90%;
    }

    .footer_logo p {
        font-size: 90%;
    }

    .footer_links a {
        font-size: 90%;
        line-height: 210%;
    }

    .footer_address p {
        font-size: 90%;
    }
}


/* whatsapp */


.floating_btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

@keyframes pulsing {
    to {
        box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
}

.contact_icon {
    background-color: #42db87;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #42db87;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
}


.text_icon {
    margin-top: 8px;
    color: #000000;
    font-size: 13px;
}









/* .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
}

.footer-left {
    flex: 1;
    min-width: 250px;
}

.footer-center {
    flex: 1;
    min-width: 200px;
}

.footer-right {
    flex: 1;
    min-width: 200px;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 150px;
}

.footer-menu a {
    color: white;
    text-decoration: none;
    margin: 5px 0;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100px;
}

.footer-social a {
    color: white;
    font-size: 1.5em;
    margin: 0 10px;
}

.footer-container h4 {
    margin-bottom: 10px;
}

.logo {
    max-width: 150px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;
    }

    .footer-social {
        margin-top: 20px;
    }
} */



